extends ../../aalayout/layout

block content
	.container-fluid.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/mger") 操作页面
				li.breadcrumb-item: a(href="/orders") #{title}
		if errorInfo
			-a;
			.text-danger.text-center #{errorInfo}
		else
			.statusPage.my-4
				a.btn.btn-info(href="/orders") 全部
				each status in Conf.order.status.arr
					- lang = status.replace(/-/, "_");
					a.ml-5.btn.btn-info(href="/orders?status="+status) #{Conf.order.status.lang[lang]}

			table.table.table-striped
				thead
					tr
						th #{orders.length}
						th 编号
						th 时间
						th 价格
						th 客户
						th 状态
				tbody
					each order in orders
						- lang = order.status.replace(/-/, "_");
						tr
							td
								input(id="cb-select"+order.id type="checkbox" name="post[]" value=order.id)
							td
								a(href="/order/"+order.id) #{order.number}
							td #{moment(order.date_created).format("YYYY/MM/DD HH:mm:ss")}
							td #{order.total} #{order.currency}
							td #{order.customer_id}
							td #{Conf.order.status.lang[lang]}