h3.bg-success.text-center.p-2 发布 
.row.mb-5.py-3.border-bottom.rounded
	.col-3.col-md-9.text-right.pt-2 状态 / status:
	.col-9.col-md-3
		if product.status == "publish"
			-nt="private";
			button.btn.btn-success(type="button") 发布
			button.ml-5.btn.btn-secondary.putObjBtnClick(type="button", data-url="/productPut/"+product.id, data-key="status", data-val=nt, data-type="String") 下架
		else if product.status == "private"
			-nt="publish";
			button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/productPut/"+product.id, data-key="status", data-val=nt, data-type="String") 发布
			button.ml-5.btn.btn-success(type="button") 下架
		//- select.putObjSelChange.form-control.bg-warning(data-url="/productPut/"+product.id, data-key="status", data-type="String")
			each key in Conf.product.status.arr
				- val = Conf.product.status.lang[key];
				if product.status == key
					-a;
					option(value=key, selected="selected") #{val} / #{key}
				else
					option(value=key) #{val} / #{key}


.border.px-3
	//- .row.py-3.border-bottom.rounded
		.col-3 精品 / featured
		.col-9
			if product.featured
				-nt="false";
				button.mr-5.btn.btn-success(type="button") 是
				button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/productPut/"+product.id, data-key="featured", data-val=nt, data-type="Boolean") 否
			else
				-nt="true";
				button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/productPut/"+product.id, data-key="featured", data-val=nt, data-type="Boolean") 是
				button.ml-5.btn.btn-success(type="button") 否
	.row.py-3.border-bottom.rounded
		.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+product.id+"-name") 产品名称 / name
		.col-9
			span.valClickUpA(id="valClickUpA-"+product.id+"-name") #{product.name}
			input(type="hidden", id="iptOrg-"+product.id+"-name", value=product.name)
			input.form-control.iptNewBlurUpd(type="text", id="iptNewBlurUpd-"+product.id+"-name", value=product.name, data-url="/productPut/"+product.id, data-key="name", data-type="String", style="display:none")
	.row.py-3.border-bottom.rounded
		.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+product.id+"-slug") 唯一编号 / slug
		.col-3
			span.valClickUpA(id="valClickUpA-"+product.id+"-slug") #{product.slug}
			input(type="hidden", id="iptOrg-"+product.id+"-slug", value=product.slug)
			input.form-control.iptNewBlurUpd(type="text", id="iptNewBlurUpd-"+product.id+"-slug", value=product.slug, data-url="/productPut/"+product.id, data-key="slug", data-type="String", style="display:none")
		.col-6 #{product.permalink}
	.row.py-3.border-bottom.rounded
		.col-3
			.title categories
		.col-9
			each categ in product.categories
				-a;
				span.mr-5 #{categ.name}
	- let description = product.description;
	- description = description.substring(3, description.length - 5);
	//- .row.py-3.border-bottom.rounded
		.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+product.id+"-description") 产品描述 / description
		.col-9
			span.valClickUpA(id="valClickUpA-"+product.id+"-description") #{description}
			input(type="hidden", id="iptOrg-"+product.id+"-description", value=description)
			textarea.form-control.iptNewBlurUpd(type="text", rows="3", id="iptNewBlurUpd-"+product.id+"-description", value=description, data-url="/productPut/"+product.id, data-key="description", data-type="String", style="display:none")
	- let short_description = product.short_description;
	- short_description = short_description.substring(3, short_description.length - 5);
	.row.py-3.rounded
		.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+product.id+"-short_description") 产品简述 / short_description
		.col-9
			span.valClickUpA(id="valClickUpA-"+product.id+"-short_description") #{short_description}
			input(type="hidden", id="iptOrg-"+product.id+"-short_description", value=short_description)
			textarea.form-control.iptNewBlurUpd(type="text", rows="3", id="iptNewBlurUpd-"+product.id+"-short_description", value=short_description, data-url="/productPut/"+product.id, data-key="short_description", data-type="String", style="display:none")


.row.py-3.border-bottom.rounded
	.col-3
		.title images
		.desp 产品图片 Array
	.col-9
		each image in product.images
			-a;
			.row.border.rounded.p-2.mt-2
				.col-2
					img(src=image.src, width="100%")
				.col-10
					.row.mt-2
						.col-2 id
						.col-10 #{image.id}
					.row.mt-2
						.col-2 src
						.col-10 #{image.src}
					.row.mt-2
						.col-2 name
						.col-10 #{image.name}
					.row.mt-2
						.col-2 alt
						.col-10 #{image.alt}

div(style="height: 100px")
.border.px-3
	.row.py-3.border-bottom.rounded
		.col-3
			.title attributes
			.desp 产品属性 Array
		.col-9
			each attribute in product.attributes
				-a;
				.border.rounded.p-2.mt-2
					.row.mt-2
						.col-4 #{attribute.name}
						.col-8
							- i = 0;
							each option in  attribute.options
								- i++;
								span #{option}
								if i != attribute.options.length
									-a;
									span.mx-3 |
	.row.py-3.border-bottom.rounded
			.col-3 单位
			.col-9 #{product.sku}
	.row.py-3.border-bottom.rounded
		.col-3.col-md-3 类型 / type:
		.col-9.col-md-3 #{Conf.product.type.lang[product.type]} / #{product.type}
	if product.type == "simple"
		-a;
		.row.py-3.border-bottom.rounded
			.col-3 价格 / regular_price
			.col-9 #{product.regular_price}
		.row.py-3.border-bottom.rounded
			.col-3 折扣价 / sale_price
			.col-9 #{product.sale_price}

		//- stock
		.row.py-3.border-bottom.rounded
			.col-3 是否管理库存 / manage_stock
			.col-9
				if product.manage_stock
					-a;
					span 是
				else
					span 否
		if product.manage_stock
			-a;
			.row.ml-3.py-3.border-bottom.rounded
				.col-3 库存数量 / stock_quantity #{product.stock_quantity}
			.row.ml-3.py-3.border-bottom.rounded
				.col-3 缺货允许 / backorders:
				.col-3 #{Conf.product.backorders.lang[product.backorders]} / #{product.backorders}
				.col-3
				.col-3 在缺货的情况下， 是否允许客户下单
		else
			.row.py-3.border-bottom.rounded
				.col-3 库存状态 / stock_status:
				.col-3 #{Conf.product.stock_status.lang[product.stock_status]} / #{product.stock_status}

		.row.py-3.rounded
			.col-3 唯一购买 / sold_individually
			.col-3
				if product.sold_individually
					-a;
					span 是
				else
					span  否

			.col-3
			.col-3 在同一个订单中是否只能被买一件
	else if product.type == "variable"
		-a;
		if product.attributes && product.attributes.length > 0
			-a;
			include ./variationPost

			if variations && variations.length > 0
				-a;
				include ./variations


div(style="height: 300px")