if product.status != "publish"
	-a;
	.row.mt-5.pt-5
		.col-8
			h3 产品SKU列表： 
		.col-4.text-right
			button.btn.border-danger.text-danger#variationDelBox(type="button") 删除
	script(src="/js/mger/product/pdVariations.js")
.row
	each variation in variations
		-a;
		.col-6.col-md-4.col-xl-3
			.card
				div #{variation.id}
				if variation.attributes && variation.attributes.length > 0
					-a;
					div #{variation.attributes[0].name}
table.table.table-triped.mt-3
	thead
		tr
			th #{variations.length}
			th img
			th 售价
			th 打折价
			th 缺货
			th.variationDelElem(style="display:none") 删除
	tbody
		each variation in variations
			-a;
			tr(id="variationTr-"+variation.id)
				td
					input(id="cb-select"+variation.id type="checkbox" name="post[]" value=variation.id)
				td
					a(href="/variation/"+variation.id+"?product_id="+product.id)
						if variation.image
							-a;
							img(width=50, src=variation.image.src)
						else
							span #{variation.id}
				td #{variation.regular_price}
				td #{variation.sale_price}
				td
					if variation.backordered
						-a;
						span.text-danger 是
				td.variationDelElem(style="display:none")
					button.btn.btn-link.text-danger.variationDelBtn(type="button", data-id=variation.id, data-product_id=product.id) [删除]
