if product.status != "publish"
	-a;
	.my-5
		button.btn.btn-warning#variationAddBox(type="button") 新SKU
	//- #variationAddPage.my-5
	#variationAddPage.my-5(style="display:none")
		form#variationPostForm(method="post", action="/variationPost", enctype="multipart/form-data")
			input(type="hidden", name="product_id" value=product.id)
			.row.border.rounded.py-3
				label.text-right.col-4.col-sm-2.col-form-label 产品属性
				- sub = -1;
				each attribute in product.attributes
					- sub++;
					.col-4.col-sm-2
						input.form-control(type="text", name="data[attributes]["+sub+"][name]", value=attribute.name)
						select.form-control(name="data[attributes]["+sub+"][option]", data-style="btn-info")
							option(value="") 所有的#{attribute.name}
							each option in attribute.options
								-a;
								option(value=option) #{option}
			.row.border.rounded.py-3
				if variations && variations.length > 0
					- regular_price = variations[0].regular_price;
					- sale_price = variations[0].sale_price;
				label.text-right.col-4.col-sm-2.col-form-label(for="regular_priceIpt") 售价
				.col-8.col-sm-2
					input#regular_priceIpt.form-control(type="text", name="data[regular_price]", value=regular_price)
				.offset-4.offset-sm-2.col-8.col-sm-10#regular_priceOpt.text-danger(style="display:none")
					span 请输入产品售价
				label.text-right.col-4.col-sm-2.col-form-label(for="sale_priceIpt")#sale_priceLabel 折扣价
				.col-8.col-sm-2
					input#sale_priceIpt.form-control(type="text", name="data[sale_price]", value=sale_price)
				.offset-4.offset-sm-2.col-8.col-sm-10#sale_priceOpt.text-danger(style="display:none")
					span 请输入产品折扣价
			.row.border.rounded.py-3
				label.col-3.col-sm-2.col-form-label 产品图片
				input#uploadImg.btn.btn-info.btn-block(type="file", name="fls", style="display:none")
				.col-9
					.row
						.col-2
							img#crtImg(src="/icon/img.jpg", width="100%")
			hr
			.form-group.row
				.offset-sm-10.col-sm-2
					button.btn.btn-success.btn-block#createPdBtn(type="submit") 提交

	script(src="/js/mger/product/pdVariationPost.js")
	script(src="/js/global/imageEdit.js")