.row.py-3.border-bottom.rounded
	.col-3
		.title attributes
		.desp 产品属性 Array
	.col-9
		each attribute in variation.attributes
			- a;
			span.mr-5 #{attribute.name} : #{attribute.option}

.row.py-3.border-bottom.rounded
	.col-3
		.title image
		.desp 产品图片 Array
		button.mr-5.btn.btn-link.text-warning#imgEditBox(type="button") 修改图片
		button.mr-5.btn.btn-link.text-warning#imgEditCancelBox(type="button", style="display:none") 取消修改
		button.btn.btn-success#subBtnPutImg.imgEdit(type="button" style="display:none") 更新图片
	.col-9
		form#productPutImgForm(method="post", action="/variationPutImages", enctype="multipart/form-data")
			input(type="hidden", name="id", value=variation.id)
			input(type="hidden", name="product_id", value=product.id)
			input#uploadImg.btn.btn-info.btn-block(type="file", name="fls", style="display:none")
			- image = "/icon/img.jpg";
			if variation.image && variation.image.src
				-image = variation.image.src;
			img#crtImg(src=image, width="150px")
script(src="/js/global/imageEdit.js")


div(style="height: 100px")
.border.px-3
	.row.py-3.border-bottom.rounded
		.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+variation.id+"-regular_price") 价格 / regular_price
		.col-9
			span.valClickUpA(id="valClickUpA-"+variation.id+"-regular_price") #{variation.regular_price}
			input(type="hidden", id="iptOrg-"+variation.id+"-regular_price", value=variation.regular_price)
			input.form-control.iptNewBlurUpd(type="text", id="iptNewBlurUpd-"+variation.id+"-regular_price", value=variation.regular_price, data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="regular_price", data-type="String", style="display:none")
	.row.py-3.border-bottom.rounded
		.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+variation.id+"-sale_price") 折扣价 / sale_price
		.col-9
			span.valClickUpA(id="valClickUpA-"+variation.id+"-sale_price") #{variation.sale_price}
			input(type="hidden", id="iptOrg-"+variation.id+"-sale_price", value=variation.sale_price)
			input.form-control.iptNewBlurUpd(type="text", id="iptNewBlurUpd-"+variation.id+"-sale_price", value=variation.sale_price, data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="sale_price", data-type="String", style="display:none")


	//- stock
	.row.py-3.border-bottom.rounded
		.col-3 是否管理库存 / manage_stock
		.col-9
			if variation.manage_stock
				-nt="false";
				button.mr-5.btn.btn-success(type="button") 是
				button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="manage_stock", data-val=nt, data-type="Boolean") 否
			else
				-nt="true";
				button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="manage_stock", data-val=nt, data-type="Boolean") 是
				button.ml-5.btn.btn-success(type="button") 否
	if variation.manage_stock
		-a;
		.row.ml-3.py-3.border-bottom.rounded
			.col-3: span.text-info.keyClickUpA(id="keyClickUpA-"+variation.id+"-stock_quantity") 库存数量 / stock_quantity
			.col-9
				span.valClickUpA(id="valClickUpA-"+variation.id+"-stock_quantity") #{variation.stock_quantity}
				input(type="hidden", id="iptOrg-"+variation.id+"-stock_quantity", value=variation.stock_quantity)
				input.form-control.iptNewBlurUpd(type="number", id="iptNewBlurUpd-"+variation.id+"-stock_quantity", value=variation.stock_quantity, data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="stock_quantity", data-type="Number", style="display:none")

		.row.ml-3.py-3.border-bottom.rounded
			.col-3 缺货允许 / backorders:
			.col-3
				select.putObjSelChange.form-control(data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="backorders", data-type="String")
					each key in Conf.product.backorders.arr
						- val = Conf.product.backorders.lang[key];
						if variation.backorders == key
							-a;
							option(value=key, selected="selected") #{val} / #{key}
						else
							option(value=key) #{val} / #{key}
			.col-3
			.col-3 在缺货的情况下， 是否允许客户下单
	else
		.row.py-3.border-bottom.rounded
			.col-3 库存状态 / stock_status:
			.col-3
				select.putObjSelChange.form-control(data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="stock_status", data-type="String")
					each key in Conf.product.stock_status.arr
						- val = Conf.product.stock_status.lang[key];
						if variation.stock_status == key
							-a;
							option(value=key, selected="selected") #{val} / #{key}
						else
							option(value=key) #{val} / #{key}

	.row.py-3.rounded
		.col-3 唯一购买 / sold_individually
		.col-3
			if variation.sold_individually
				-nt="false";
				button.mr-5.btn.btn-success(type="button") 是
				button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="sold_individually", data-val=nt, data-type="Boolean") 否
			else
				-nt="true";
				button.btn.btn-secondary.putObjBtnClick(type="button", data-url="/variationPut/"+variation.id+"?product_id="+product.id, data-key="sold_individually", data-val=nt, data-type="Boolean") 是
				button.ml-5.btn.btn-success(type="button") 否

		.col-3
		.col-3 在同一个订单中是否只能被买一件


div(style="height: 300px")