.row
	.col-md-6
		.code 订单号: #{order.number}
	.col-6.col-md-3
		- lang = order.status.replace(/-/, "_");
		.status 状态: #{Conf.order.status.lang[lang]}
	.col-6.col-md-3
		.cter 客人: [#{order.customer_id}] #{customer.username}
	.col-6.col-md-4
		.total.text-info 订单总额: #{order.total} #{order.currency}
	.col-6.col-md-4
		.payment_method 付款方式: #{order.payment_method}
	.col-6.col-md-4
		.payment_method 付款方式: #{order.payment_method_title}
.row
	.col-6.col-md-3
		.date_created 开始: 
			if order.date_created
				- date_created = order.date_created;
				span #{moment(date_created).format("YY年MM月DD日")}
	.col-6.col-md-3
		.date_modified 最近更新: 
			if order.date_modified
				- date_modified = order.date_modified;
				span #{moment(date_modified).format("YY年MM月DD日")}
if order.customer_note
	- customer_note = order.customer_note;
	.customer_note 客户留言: #{customer_note}

.row.mt-3
	.col-6.col-md-3
		select.putObjSelChange.form-control(data-url="/orderPut/"+order.id, data-key="status", data-type="String")
			each key in Conf.order.status.arr
				- lang = key.replace(/-/, "_");
				- val = Conf.order.status.lang[lang];
				if order.status == key
					-a;
					option(value=key, selected="selected") #{val}
				else
					option(value=key) #{val}
	if order.status == "trash"
		-a;
		.col-6.col-md-9.text-right
			button.btn.border-danger.text-danger.objDeleteAjax(type="button", data-url="/orderDel/", data-reurl="/orders" ,data-id=order.id) [彻底删除]

		script(src="/js/global/delete.js")