table.table.table-striped
	thead
		tr
			th 序号
			th 产品名称
			th 
			th 数量
			th 单价
			th.text-right 总价
	tbody
		- num = 0;
		- tot = 0;
		each line_item in order.line_items
			- num++;
			- tot += parseFloat(line_item.subtotal);
			tr
				td #{num}
				td
					.item(id="pd-"+line_item.product_id+"-vr-"+line_item.variation_id) #{line_item.name}
					div(id="item-"+line_item.product_id)
				td
					each attr in line_item.meta_data
						-a;
						if attr.key != '_reduced_stock'
							-a;
							div
								span #{attr.key}: 
								span.text-info #{attr.value}
				td #{line_item.quantity}
				td #{line_item.price} #{order.currency}
				td.text-right #{line_item.subtotal} #{order.currency}
		tr
			th(colspan=5) 货值:
			th.text-right #{(tot).toFixed(2)} #{order.currency}
//- script(src="/js/mger/order/detail/item.js")
		//- id: 3,
		//- name: 'Printed Green Tshirt',
		//- sku: '',
		//- product_id: 168,
		//- variation_id: 0,
		//- quantity: 2,
		//- tax_class: '',
		//- price: '28.00',
		//- subtotal: '56.00',
		//- subtotal_tax: '0.00',
		//- total: '56.00',
		//- total_tax: '0.00',
		//- taxes: [],
		//- meta: []